<!DOCTYPE html>
<html lang="{{ site.lang | default: " de " }}">

<head>
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <section class="page-header">
        <h1 class="project-name">{{ site.name | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="btn">Source Code</a>
        <a href="{{ site.github.zip_url }}" class="btn">Download Maps APK</a>
        <a href="{{ site.github.zip_url }}" class="btn">Download Maps APK</a>
    </section>

    <section class="main-content">
        {{ content }}

    </section>


</body>
<footer class="site-footer">
    <span class="site-footer-credits">
    <a href="http://blog.nogago.com/de/about/" target="_blank">&Uuml;ber nogago</a> |
    <a href="http://blog.nogago.com/de/to/" target="_blank">AGB</a> |
    <a href="http://blog.nogago.com/de/privacy/" target="_blank">Datenschutz</a> |
    <a href="http://blog.nogago.com/de/contact/" target="_blank">Impressum</a> |
    <a href="http://blog.nogago.com/de/nogago-frequently-asked-questions-faq/" target="_blank">FAQs</a>
    </span>
</footer>

</html>